// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//icons
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

$brown-dark: #381c00;
$text-brown: #f27900;
$border-brown: #ffffff;

.bg-brown-dark{
    background-color: $brown-dark;


}
.btn-brown-dark{

    background-color: $brown-dark;
    border-color: $border-brown !important;
    &:hover,
    &:focus {
        background-color: lighten( $brown-dark, 5%)!important;
    }
}

