// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//icons
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

$brown-dark: #381c00;
$text-brown: #f27900;
$border-brown: #ffffff;

.bg-brown-dark{
    background-color: $brown-dark;


}
.btn-brown-dark{

    background-color: $brown-dark;
    border-color: $border-brown !important;
    &:hover,
    &:focus {
        background-color: lighten( $brown-dark, 5%)!important;
    }
}
.text-naranjo{
    color: $text-brown;
}

//BOTONES RRSS INICIO DE SESION

$facebook-color: #3b5998;
$github-color: #31373b;
$google-color: #dd4b39;

.btn-facebook{

    border-color: darken($facebook-color, 3%);
    background-color: $facebook-color;
}
.btn-github{

    border-color: darken($github-color, 3%);
    background-color: $github-color;
}
.btn-google{

    border-color: darken($google-color, 3%);
    background-color: $google-color;
}

//marcos
.drow{

    border: silver 40px solid;
  border-image-source: url(http://www.mclibre.org/consultar/htmlcss/css/ejemplos/img/css3-bordes/hormigas-210.png);
  border-image-slice: 70;
  border-image-repeat: stretch;

  padding: 10px;
  text-align: justify;
}

